    .tbcapitulo{
        margin: 0 auto;
        width: 90%;
        border: 1px #000000 solid;
    }
    
    .nomcapitulo{
        font-size: 14pt;
        color:#4169E1;
        font-weight: bolder;
        text-align: center;
    }
    .nomcapitulopequeno{
        font-size: 14pt;
        color:#4169E1;
        font-weight: bolder;
        text-align: center;

    }
    .nomcapitulooculto{font-size: 0px;}
     .titleseccionpequeno{
       font-size: 10pt;
       font-weight: bolder;
   
    }
    .tbseccion{
       width: 100%; 
    }   
    .titleseccion{
       font-size: 12pt;
       font-weight: bolder;
   
    }   
    .titleseccionoculto {font-size: 0px;}
    .labelpregunta{
        border: solid 1px #000;
        padding: 2px 2px;
        font-size:10pt;
        width: 25%;
        color:#00a;
        background-color:#F0FFF0;
    }  
    .labelpreguntapequeno{
        border: solid 1px #000;
        padding: 2px 2px;
        font-size:10pt;
        width: 25%;
        color:#00a;
        background-color:#F0FFF0;
    }  
     .inputpregunta{
        padding: 2px 2px;
    }
     .inputpreguntapequeno{
        padding: 2px 2px;
    }    
    .labelpregunta2{
        padding: 2px 2px;
        font-size:10pt;
        color:#00a;
        background-color:#F0FFF0;
    }
    .labelpregunta2{font-weight:500;}
    .labelpregunta3{font-weight:500;}
    .inputpreguntabloqueo
    {
        background-color:#dedede;
        border: solid 2px #ccc;
    }
    
    .tdtable_tipo{
        padding: 2px 2px;
        font-size:1em;
        color:#000;
        background-color:#F5F5DC;
        text-align: center;
    }
 
    .tbespeciales{
        margin: 0 auto;
        border: 1px #000000 solid;
         width: 90%;
    }
    .capituloeval
    { 
        text-align: center;
        font-weight:500;
    }
    .seccioneval
    { 
        text-align: center;
        font-weight: bold;   
    }
    
    .inputpreguntaevaluacion
{
    font-family: Arial; 
    font-size:1.0em;        
    padding: 0px;
    width: 7%;  
    border: 1px solid #dddddd;    
}

.inputpreguntaevaluaciontot
{
    font-family: Arial; 
    font-size:1.0em;        
    padding: 0px;
    width: 7%;  
    border: 1px solid #dddddd;  
    text-align: right;
}
.inputpreguntaevaluacionres
{
    font-family: Arial; 
    font-size:1.0em;        
    padding: 0px;
    width: 7%;  
    border: 1px solid #dddddd;  
    background-color: #a8c1d7;
    color:#0B4C83;
    font-weight: 100px;
    
}
.inputpreguntaevaluacionres_rojo
{
    font-family: Arial; 
    font-size:1.0em;        
    padding: 0px;
    width: 7%;  
    border: 1px solid #dddddd;  
    background-color: red;
    color:white;
    text-align: center;
}
.inputpreguntaevaluacionres_naranja
{
    font-family: Arial; 
    font-size:1.0em;        
    padding: 0px;
    width: 7%;  
    border: 1px solid #dddddd;  
    background-color: orange;
    color:white;
    text-align: center;
}
.inputpreguntaevaluacionres_amarillo
{
    font-family: Arial; 
    font-size:1.0em;        
    padding: 0px;
    width: 7%;  
    border: 1px solid #dddddd;  
    background-color: yellow;
    color:black;
    text-align: center;
}
.inputpreguntaevaluacionres_verde
{
    font-family: Arial; 
    font-size:1.0em;        
    padding: 0px;
    width: 7%;  
    border: 1px solid #dddddd;  
    background-color: green;
    color:white;
    text-align: center;
}
    .capituloeval
    { 

    }
    .seccioneval
    { 
   
    }
    .seccioneval1
    { 

    }
    .celdaevalcenter{

    }
.celdageneral
{
    
}